<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/user_signin.css">

<% if (locals.user){ %>

    <div class="section-box">
        <div id="sec-box-1">
            <section>
                <h2>Posts</h2>

                <form action="/posts/create" id="new-post-form" method="post">
                    <textarea id="new-post-input-data" name="content" cols="30" rows="3" placeholder="Type Here...." required></textarea>
                    <input type="submit" value="Post">
                </form>
            </section>
        
            <section>
                <h3>All Posts:</h3>
        
                <div id="posts-list-container">
                    <ul>
                        <% for(i of posts){ %>
                            
                            <%- include('_posts') -%>
            
                        <% } %>
                    </ul>
                </div>
            </section>
        </div>
    
        <div id="sec-box-2">
            <section>
            
                <h4>All Users</h4>
        
                <% for(u of all_users){ %>
                    <p>
                        <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                    </p>
                <% } %>
        
            </section>
        </div>
    </div>

<% }else{ %>

    <%- include('_guesthome')-%>

    <script>
        window.onload = function() {
            if(!window.location.hash) {
                window.location = window.location + '#';
                window.location.reload();
            }

            var url = new URLSearchParams(window.location.search);
            url.set("m","#");
            history.replaceState(null,null,"?"+url.toString());
        }
    </script>


<% } %>

<script src="/js/home_post_comments.js" ></script>
<script src="/js/home_posts.js"></script>
<script src="/js/toggle_likes.js"></script>
<script>
    $('.toggle-like-btn').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<% if(locals.user){ %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user._id %>')
    </script>
<% } %>
