<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/user_signin.css">

<% if (locals.user){ %>

    <section>
        <h2>Posts</h2>

        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here...." required></textarea>
            <input type="submit" value="Post">
        </form>
    </section>

    <section>
        <h3>All Posts:</h3>

        <ul>
            <% for(i of posts){ %>
                <p>
                    <li><%= i.content %></li>
                    <small>
                        <%= i.user.name %>
                    </small>
                    <small>
                        <% if(locals.user && locals.user.id == i.user.id){ %>
                            <a href="/posts/destroy/<%= i.id %>">Delete</a>
                        <% } %>
                    </small>
                </p>
                <div class="post-comments">
                    <% if(locals.user){ %>
                        <form action="/comments/create" method="post">
                            <input type="text" name="content" placeholder="Type Here to add Comment..." required>
                            <input type="hidden" name="post" value="<%= i._id %>">
                            <input type="submit" value="Post">
                        </form>
                    <%} %>
                    <div class="post-comments-list">
                        <ul id="post-comments-<%=i._id%>">
                            <% for(comment of i.comment){%>
                                <p>
                                    <%= comment.content %>
                                    <br>
                                    <small>
                                        <%= comment.user.name %>
                                    </small>
                                    <small>
                                        <% if( locals.user && locals.user.id == comment.user.id ){ %>
                                            <a href="/comments/destroy/<%= comment.id %>/<%= i.user._id %>">Delete</a>
                                        <% } %>
                                        <% if( locals.user && locals.user.id == i.user.id && locals.user.id != comment.user.id ){ %>
                                            <a href="/comments/destroy/<%= comment.id %>/<%= i.user._id %>">Delete</a>
                                        <% } %>
                                    </small>
                                </p>
                            <%} %>
                        </ul>
                    </div>
                </div>
            <% } %>
        </ul>
    </section>

<% }else{ %>

    <div id="home-body">
        <div>
            <h1>Social</h1>
            <h5>Where users are meant to be connected.</h5>
        </div>

        <div>
            <div id="sign-in-box">
                <div id="box-border">
                    <div>
                        <h1>Sign In</h1>
                    </div>
                
                    <div>
                        <form action="/users/createSession" method="post">
                            <input type="email" name="email" placeholder="Email" required>
                            <input type="password" name="password" placeholder="Password" required>
                            <input type="submit" value="Sign In">
                        </form>
                        <hr>
                        <a href="/users/sign-up"><button>Create Account</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% } %>

<script src="/js/home.js"></script>